@model BlogNew1.Models.Artykuly
@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Blog o wszystkim</h1>
    <p class="lead">Na tym blogu przeczytasz najbardziej niesamowite informacje dotyczące motoryzacji i ozdób balkonowych</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*<div class="row">
        @{
            foreach (var artykuly in Model)
            {
                <p>
                    @artykuly.Tytul , @artykuly.TekstArtykulu
                </p>
                <div class="col-md-4">
                    <h2>@artykuly.Tytul</h2>
                    <p>
                        @artykuly.TekstArtykulu
                    </p>
                    <p><a class="btn btn-default" href="https://linkdonikąd">Learn more &raquo;</a></p>
                </div>
            }
        }
    </div>*@


<div class="row">
    <div class="col-md-4">
        <h2>2JZ GTE wciąż wymiata</h2>
        <p>
            Dlaczego 2JZ "tu dżej zi" jest wciąż jednym z najlepszych silników do tuningu?
        </p>
        <p><a class="btn btn-default" href="https://linkdonikąd">Learn more &raquo;</a></p>
    </div>
</div>

<div>
    @Html.Action("PokazGodzine", "Zegarek")   
    @* Controller Zegarek trzeba użyć bez słówka controller bo niedziała *@
</div>
<div>
   Godzina2: @Html.Action("PokazGodzine2", "Zegarek")
    @* Controller Zegarek trzeba użyć bez słówka controller bo niedziała *@
</div>
