@model IEnumerable<BlogNew1.Models.Artykuly>
@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Blog o wszystkim</h1>
    <p class="lead">Na tym blogu przeczytasz najbardziej niesamowite informacje dotyczące motoryzacji i ozdób balkonowych</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        @{
            foreach (var artykul in Model)
            {
                <div class="article">
                    <h2>@artykul.Tytul</h2>
                    <p>
                        @artykul.TekstArtykulu.Substring(0, Math.Min(artykul.TekstArtykulu.Length, 250))...
                    </p>

                    <div class="article-content">
                        <p>@Html.ActionLink("Czytaj dalej", "Details", new { id = artykul.Id })</p>
                    </div>
                </div>
            }
        }
    </div>
</div>


    <div>
        @Html.Action("PokazGodzine", "Zegarek")
        @* Controller Zegarek trzeba użyć bez słówka controller bo niedziała *@
    </div>
    <div>
        @*Godzina2: @Html.Action("PokazGodzine2", "Zegarek")*@
        @* Controller Zegarek trzeba użyć bez słówka controller bo niedziała *@
    </div>
